[Unit]
Description=uWSGI service
After=syslog.target
 
[Service]
ExecStart=/home/ubuntu/project_venv/bin/uwsgi -i /srv/art-transfer-web/back/back_main_directory/.config/uwsgi/Art_Transfer.ini
 
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
 
[Install]
WantedBy=multi-user.target