/* @font-face {
  font-family: "BareunBatangB";         
  src: url("./assets/fonts/BareunBatangB.ttf"); 
}

@font-face {
  font-family: "BareunBatangL";         
  src: url("./assets/fonts/BareunBatangL.ttf"); 
}

@font-face {
  font-family: "BareunBatangM";         
  src: url("./assets/fonts/BareunBatangM.ttf"); 
} */